body {
  background-image: url(../../userContent/images/MSU222.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  display: flex;
  justify-content: center;
}

.section2 {
  color: #ddd;
  text-shadow: 4px 4px rgb(0, 0, 0);
  justify-content: flex-start;
  padding: 30px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  );
}

.section2 img {
  border-radius: 5px;
  border: 4px solid rgb(1, 0, 73);
  margin-right: 30px;
  width: 33%;
  object-fit: cover;
}

.section2 h1 {
  color: #ffa600;
  margin-top: 0vh;
  margin-bottom: -1vh;
  font-size: 30px;
}

.section2 h3 {
  color: aquamarine;
  font-size: 20px;
  margin-top: 1vh;
  margin-bottom: -1vh;
}

.section2 p {
  font-size: 23px;
}

.section3 {
  color: white;
  padding-left: 30px;
  background-color: rgb(59, 59, 59);
}
.section3 a {
  background-color: #f47236;
  border-radius: 20px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 1000px) {
  .section2 {
    flex-direction: column-reverse;
  }

  .section2 img {
    margin-right: 0px;
    width: 100%;
  }
}
