body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url(../../userContent/images/TransparentMSU.png),
    linear-gradient(
      160deg,
      rgba(24, 26, 34, 1) 0%,
      rgba(61, 45, 46, 1) 24%,
      rgba(224, 99, 68, 1) 75%,
      rgba(213, 148, 83, 1) 100%
    );
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, scroll;
  background-position: center, top;
  background-size: cover, 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18vh;
  font-weight: bold;
  font-family: Arial;
  color: rgb(209, 209, 209);
  height: 100vh;
}

main h1 {
  font-size: 80px;
  text-shadow: 4px 4px #111;
}

form {
  display: flex;
  padding: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  text-shadow: 2px 2px rgb(0, 0, 0);
  border-radius: 10px;
  width: 30vh;
  height: 30vh;
  background-color: #0000004b;
  font-weight: bold;
  color: rgb(223, 223, 223);
}

.button-62 {
  height: 60px;
  width: 300px;
  background: rgb(59, 11, 11);
  background: linear-gradient(
    0deg,
    rgba(59, 11, 11, 1) 33%,
    rgba(119, 54, 8, 1) 100%
  );
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(255, 0, 0, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 102, 0, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(255, 0, 0, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 115, 0, 0.5);
}

.glow {
  margin-top: 11vh;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2.5px #eeeeee, 0 0 5px #000000, 0 0 7.5px #000000,
      0 0 10px #000000, 0 0 12.5px #ffd000, 0 0 15px #ffc400, 0 0 17.5px #ffd000;
  }
  to {
    text-shadow: 0 0 5px #eeeeee, 0 0 7.5px #ff6600, 0 0 10px #ff6600,
      0 0 12.5px #ff5e00, 0 0 15px #ff0000, 0 0 17.5px #ff0000, 0 0 20px #ff0000;
  }
}

@media screen and (max-width: 400px) {
  section {
    flex-wrap: wrap;
  }

  form {
    margin-top: 30px;
    height: 300px;
    width: 320px;
  }
  .glow {
    font-size: 50px;
  }
}
