body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url(../../userContent/images/TransparentMSU.png),
    linear-gradient(
      160deg,
      rgba(24, 26, 34, 1) 0%,
      rgba(61, 45, 46, 1) 24%,
      rgba(224, 99, 68, 1) 75%,
      rgba(213, 148, 83, 1) 100%
    );
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, scroll;
  background-position: center, top;
  background-size: cover, 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.section1 {
  display: flex;
  flex-direction: row;
  color: #ddd;
  font-size: 23px;
  text-shadow: 4px 4px rgb(0, 0, 0);
  padding: 30px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  );
}

.background-lighter {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(245, 0, 0, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  );
}

.row-reverse {
  flex-direction: row-reverse;
}

.section-content {
  flex: 1;
}

.section1 img {
  border-radius: 5px;
  border: 4px solid rgb(1, 0, 73);
  margin-right: 30px;
}

.section1 h1 {
  color: #ffa600;
  margin-top: 0vh;
  margin-bottom: -1vh;
  font-size: 3vh;
}

.section1 h3 {
  color: aquamarine;
  font-size: 2vh;
  margin-top: 1vh;
  margin-bottom: -1vh;
}
