footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(54, 54, 54, 1) 100%
  );
}

footer img {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

footer h3 {
  margin-top: -10px;
  color: white;
  font-size: 15px;
  font-family: Arial;
}
