::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #686868;
}

::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46);
}
