/*MoscowTitle représente le titre situé au millieu du site web */
.moscowtitle {
  margin-top: 35vh;
  margin-bottom: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-shadow: 4px 4px rgb(0, 0, 0);
  font-weight: bold;
  font-family: Arial;
  color: rgb(209, 209, 209);
}

.mainTitle {
  font-size: 70px;
  text-align: center;
}

.subTitle {
  font-size: 60px;
  text-align: center;
}

.miniTitle {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1000px) {
  .mainTitle {
    font-size: 45px;
  }

  .subTitle {
    font-size: 55px;
  }
}

@media (max-width: 600px) {
  .mainTitle {
    font-size: 40px;
  }

  .subTitle {
    font-size: 50px;
  }
}

@media (max-width: 321px) {
  .mainTitle {
    font-size: 30px;
  }

  .subTitle {
    font-size: 40px;
  }

  .miniTitle {
    font-size: 16px;
  }
}
